body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    margin: auto;
    width: 1450px;
}


nav{
    background-color: black;
    color: white;
    height: 80px;

    border: 2px solid white;
}

select{
    color: white;
    background-color: black;
    display: inline-block;
   border: none;
    margin-left: 10px;
}

h6{
    display: inline-block;
}


#id1{
    margin-left: 500px;
    display: inline-block;
}
h6{
    padding-left: 30px;
}

div#id2{
    display:block;
    margin:auto;
    width: 1450px;
    height: 80px;
    
}
.c2{
    display: inline-block;
    margin-bottom: 300px;
}
img{
    padding-left: 30px;
    width: 150px;
}

div.c2{
    padding-left: 40px;

}
div.c2>input{
    border: none;
    text-decoration: underline;
}


div.c3{
    padding-top: 10px;
    text-align: center;
    margin-left: 40px;
    display: inline-block;
    border-radius: 40px;
    background-color: red;
    height: 50px;
    width: 250px;
    color: white;
    
}



#id3{
    margin: auto;
    width: 1450px;
    height: 600px;
   

}

.c4{
    display: inline-block;
    width: 350px;
    height: 550px;
    border-radius: 10px;
    background-color:whitesmoke;
   
}

.image{
    width: 280px;
    height: 400px;
}
.i1{
    padding-left: 35px;
}